body{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 10pt;
}

.menubar{
    height:50px;
    width:100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #019683;
    line-height: 50px;
    z-index: 99;
}

.menubar > .logo, .programa{
    position: relative;
    float:left;
    font-size: 1.5em;
    color: #FFF;
    padding: 0 20px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.4s ease;
}

.menubar > .logo > .glyphicon{
    font-size: 0.8em;
    margin-right: 10px;
    transition: transform 1s ease;
}

.menubar > .logo:hover, .menubar > .logo.active{
    background-color: #F08741;
}

.menubar > .logo:hover > .glyphicon{
    transform: rotate(270deg);
}

.botoes{
    float: left;
    margin-left: 30px;
    overflow: auto;
    zoom:1;
}

.botoes > .button-lg{
    height:100%;
    font-size: 1.2em;
    width: 50px;
    background-color: #017D6D;
    color: #fff;
    border: none;
    float:left;
    transition: background 0.4s ease;
}

.botoes > .button-lg:hover{
    background-color: #F08741;
}

.menubar > .pesquisa{
    position: relative;
    float: left;
    height:60%;
    line-height: 15px;
    margin-left: 50px;
    margin-top: 10px;
    transition: all 0.4s ease;
    visibility: hidden;
    opacity:0;
}

.pesquisa > input,.pesquisa > button{
    float:left;
    height:100%;
    width: 5em;
    box-sizing: border-box;
    border: none;
    color: #FFF;
}

.pesquisa > input{
    background-color: #017D6D;
    font-size: 1em;
    padding:10px 20px;
}

.pesquisa > input:hover{
    border: 1px solid #269DF0;
}

.pesquisa > .button-ok{
    width: 2em;
    font-size: 1em;
    background-color: #56A89F;
    transition: background 0.4s ease;
}

.pesquisa > button:hover{
    background-color: #F08741;
}

.menubar > .programa{
    position:absolute;
    right:0;
    font-size: 1.3em;
    transition: opacity 0.4s ease;
    visibility: hidden;
    opacity:0;
}

/*******************MENU****************/
.menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
    font-size: 1.3em;
    padding-top:50px;
    margin-left:-100%;    
    background-color: #E6E6E6;
    overflow: auto;
    z-index: 98;
    transition: margin-left 0.4s ease-out;
}

.menu.active{
    margin-left:0;
}

.menu > input,.menu > button{
    height:40px;
    box-sizing: border-box;
    border: none;
}

.menu > input{
    width: 85%;
    background-color: #FFF;
    color: #000;
    padding:10px;
    font-size: 12pt;
    transition: border 0.4s ease;
}

.menu > button{
    width: 15%;
    float:right;
    background-color: #888;
    color: #FFF;
    font-size: 12pt;
    transition: background 0.4s ease;
}

.menu > input:hover{
    border: 1px solid #269DF0;
}

.menu > button:hover{
    background-color: #CCC;
    color:#666;
}

.menu-group {
    list-style-type: none;
    width:100%;
    padding: 0;
    margin: 0;
}

.menu .item{
    display: block;
    width:100%;
    line-height: 60px;
    padding: 0 15px;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    overflow: hidden;
    transition: background 0.4s ease,height 0.4s ease,opacity 0.4s ease,visibility 0.4s ease;
}

.menu .item:hover{
    text-decoration: none;
    color: inherit;
}

.menu-group li{
    line-height: 60px;
    display: block;
    color: #666;
    transition: height 0.4s ease;
}

.menu-group > li > span.item:after{
    font-family: 'Glyphicons Halflings';
    content:"\e080";
    font-size: 12pt;
    position: absolute;
    transform: rotate(90deg);
    right: 1.5em;
}

.menu-group li.active > .menu-group > li > .item{
    height:60px;
    visibility: visible;
    opacity: 1;
}

.menu-group > li > .item:hover{
    color: #FFF;
    background-color: #019683;
}

.menu-group > li .glyphicon{
    margin-right: 10px;
}

.nivel-2 > li > .item{
    padding-left: 30px;
    background-color:#888;
    color:#FFF;
}

.nivel-3 > li > .item{
    padding-left: 45px;
    color:#FFF;
    background-color:#666;
}

.overlay.active{
    opacity:0.7;
    visibility:visible;
}

.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: 97;
    opacity:0;
    visibility: hidden;
    transition: all 0.4s ease;
}

.nivel-2 .item, .nivel-3 .item{
    visibility: hidden;
    height:0;
    opacity: 0;
    margin: 0;
    padding:0;
}

/********** FORM ***********/

form.material-form legend{
    color: #333;
    font-size: 1.5em;
}

form.material-form label{
    display: block;
    color: #333;
    font-weight: 400;
    font-size: 1.3em;
    clear: both;
}

form.material-form  input, form.material-form  select{
    padding:10px;
    font-size: 14pt;
    border: none;
    border-bottom: 1px solid #CCC;
    display: block;
    transition: width 0.4s ease-out;
}

form.material-form select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 5px;
}

form.material-form select::after{
    content: 'V';
}

form.material-form input:focus , form.material-form select:focus{
    width: 100%;
    border: none;
    border-bottom: 2px solid #019683;
    outline: none;
}

form.material-form select option{
    line-height: 2em;
}

form.material-form select::-ms-expand { 
    display: none; /* hide the default arrow in ie10 and ie11 */
}

form.material-form .button-row{
    margin-top:40px;
}

form.material-form button .glyphicon{
    margin-right: 10px;
}

form.material-form button{
    color: #FFF;
    border: none;
    font-weight: 550;
    border-radius: 5px;
    transition: background 0.4s ease;
}

form.material-form button.bt-small{
    padding:0.5em 7em;
    font-size: 1em;
}

form.material-form button.bt-medium{
    padding:1em 1.2em;
    font-size: 1.1em;
}

form.material-form button.bt-large{
    padding:1.2em 1.4em;
    font-size: 1.2em;
}

form.material-form button.green{
    background-color: #09A35C;
}

form.material-form button.green:hover{
    background-color: #077F48;
}

form.material-form button.red{
    background-color: #DB0000;
}

form.material-form button.red:hover{
    background-color: #A10000;
}

.window{
    position: fixed;
    color: #FFF;
    top:50%;
    left: 50%;
    margin-left: -200px;
    margin-top: -350px;
    background-color: #FFF;
    border-radius: 5px;
    transition: all 0.4s ease-out;
}

.window.window-lg{
    width:700px;
    height: 400px;
}

.window > .window-bar{
    width: 100%;
    height:50px;
    font-size: 1.2em;
    background-color: #019683;
}

.window > .window-bar > .window-title{
    margin: 10px 20px;
    display: inline-block;
}

.window > .window-bar > .window-button{
    position: relative;
    height:80%;
    width:2.5em;
    float: right;
    color: #FFF;
    line-height: 40px;
    background-color: #38a58a;
    cursor: pointer;
    transition:background-color 0.4s ease;
}

.window > .window-bar > .window-button:hover{
    background-color: #017D6D;
}

.window > .window-bar > .window-button.window-close{
    background-color: #DB0000;
}

.window > .window-bar > .window-button.window-close:hover{
    background-color: #A10000;
}

.window > .window-bar > .window-button::after{
    text-align: center;
    display: block;
    font-size: 0.7em;
    font-family: 'Glyphicons Halflings';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.window > .window-bar > .window-button.window-minimize::after{
    content: "\2212";
}

.window > .window-bar > .window-button.window-restore::after{
    content: "\e096";
}

.window > .window-bar > .window-button.window-close::after{
    content: "\e014";
}

.window > .window-content{
    width: 100%;
    height: 100%;
    border: 5px solid #019683;
}

@media only screen and (min-width: 580px) {
    .menubar > .pesquisa{
        visibility: visible;
        opacity:1;
    }
    
    .menu{
        width: 400px;
        margin-left:-400px;
    }
}

@media only screen and (min-width: 640px) {
    body{
        font-size: 12pt;
    }
    .menubar > .programa{
        visibility: visible;
        opacity:1;
    }
    form.material-form{
        padding:70px 50px;
    }
}